
<div class="video-banner">
  <video autoplay loop  playsinline class="video-background">
    <source src="assets/Images/98026-646632863.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="content-overlay">
    <h1>Welcome to Our Site</h1>
    <p>Your banner description goes here.</p>
  </div>
</div>
  <div class="container">
    <div class="row">
        <div class="col card" style="" routerLink="/addProduct">
            <img src="/assets/Images/10608883.png" class="card-img-top " alt="...">
            <div class="card-body">
              <p class="card-text text-center">Add Product</p>
            </div>
          </div>
          <div class="col card" style="width: 18rem;"routerLink="/category">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Category</p>
            </div>
          </div>
          <div class="col card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">View Product</p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="col card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="col card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
  </div> 