<body>

    <!-- <header>
        <div class="headertag text-center">

            <div class="row">
                <div class="col text-start">
                    <i>logo</i>
                </div>
                <div class="col-6">
                    Product
                </div>
                <div class="col">
                    <div class="container text-end">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-2">
                                <mat-icon>favorite</mat-icon>
                            </div>
                            <div class="col col-lg-2">
                                <mat-icon>shopping_cart</mat-icon>
                            </div>
                            <div class="col col-lg-2">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <header>
     

        <div class="row m-1">
          <div class="col-4 text-start  mt-3">
            <mat-icon class="headIcon">list</mat-icon>
        </div>
          <div class="col-5 text-center ">
            <div class="row">
                <div class="col-2 text-end mt-2">
                    <li><a href="#home">Home</a></li>
                  </div>
                  <div class="col-2 mt-2">
                    <li><a href="#sellers">Shop</a></li>
                  </div>
                  <div class="col-2 mt-2">
                    <li><a href="#news">Blog</a></li>
                  </div>
                  <div class="col-2 mt-2">
                    <li><a href="#contact">Contact</a></li>
                  </div>
                  <div class="col-2 mt-2">
                    <li><a href="#contact">Admin</a></li>
                  </div>
            </div>
        </div>
          <div class="col-2">
            <div class="row">
                <div class="col-md-1 mt-3">
                    <mat-icon  class="headIcon">search</mat-icon>
                </div>
                <div class="col-md-9">
                <div class="search-hero">
                    <input class="form-control" type="text" name="search"  autocomplete="off" placeholder="searching.."> 
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
          <div class="col-1 text-end">
            <div class="row">
                <div class="col mt-3">
                    <mat-icon class="headIcon">favorite</mat-icon>
                </div>
                <div class="col mt-3">
                    <mat-icon class="headIcon">shopping_cart</mat-icon>
                </div>
                <div class="col mt-3">
                    <mat-icon class="headIcon">account_circle</mat-icon>
                </div>
            </div>
        </div>
        </div>
      
      </header>
    <section id="cardFlex">
        

        <div class="home_img ">
                <img class="backgroundImg" style=""  >
                 <!-- <div class="backgroundCard"></div> -->

        </div>

         <div class="home_txt ">


          <!--  <div class=" text-start" style="overflow: hidden;">
                <div class="row">
                    <div class="col-sm-3 col-md-3  text-end">
                        
                    </div>
                    <div class="col-sm-9 col-md-6  text-center"> -->

                        



                        <div class=" container cardIn">
                            <button class="cssbuttons-io-button" (click)="CallBack()">
                                Go Back
                                <div class="icon">
                                  <svg
                                    height="24"
                                    width="24"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                      d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                      fill="currentColor"
                                    ></path>
                                  </svg>
                                </div>
                              </button>
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col-2 text-center align-self-center">
                                    <h1 style="color: black;  font-style:bold;">Mobile</h1>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row mt-5 mb-5 text-end">
                                <div class="col-4 align-self-center mt-5">
                                    <!-- <p class="text-center">PRODUCT COLLECTION</p> -->
                                    <h2 class="brand-name text-center">Samsung</h2>
                                    <p class="product-details collectio text-center ">Galaxy A01 Core 1/16GB Black (SM-A013FZKD)</p>
                                    
                                </div>
                                <div class="col-4">
                                    <div class="container noselect">
                                        <div class="canvas">
                                            <div class="tracker tr-1"></div>
                                            <div class="tracker tr-2"></div>
                                            <div class="tracker tr-3"></div>
                                            <div class="tracker tr-4"></div>
                                            <div class="tracker tr-5"></div>
                                            <div class="tracker tr-6"></div>
                                            <div class="tracker tr-7"></div>
                                            <div class="tracker tr-8"></div>
                                            <div class="tracker tr-9"></div>
                                            <div class="tracker tr-10"></div>
                                            <div class="tracker tr-11"></div>
                                            <div class="tracker tr-12"></div>
                                            <div class="tracker tr-13"></div>
                                            <div class="tracker tr-14"></div>
                                            <div class="tracker tr-15"></div>
                                            <div class="tracker tr-16"></div>
                                            <div class="tracker tr-17"></div>
                                            <div class="tracker tr-18"></div>
                                            <div class="tracker tr-19"></div>
                                            <div class="tracker tr-20"></div>
                                            <div class="tracker tr-21"></div>
                                            <div class="tracker tr-22"></div>
                                            <div class="tracker tr-23"></div>
                                            <div class="tracker tr-24"></div>
                                            <div class="tracker tr-25"></div>
                                            <div id="card">
                                                <img src="assets/Images/iphone_16pro__erw9alves2qa_xlarge.png" alt="">
                                                <p id="prompt">50,000 Rs</p>
                                                <div class="title"> <img src="assets/Images/iphone_16pro__erw9alves2qa_xlarge.png"
                                                        alt=""></div>
                                                <!-- <div class="subtitle">
                       
                                                </div> -->
            
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="product-details col-4 text-start align-self-center" >
                                      
                                               <h1>Device Specifications</h1>
                                           
                                                <div><label for="memory">Memory Size:</label> <span id="memory">Loading...</span></div>
                                                <div><label for="screen">Screen Size:</label> <span id="screen">Loading...</span></div>
                                                <div><label for="battery">Battery Size:</label> <span id="battery">Loading...</span></div>
                                                <div><label for="os">Operating System:</label> <span id="os">Loading...</span></div>
                    
                                       
                                        <!-- <h2>Mobile</h2> -->
                                    </div>
                                   
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-4">
                                   <h1>
                                    Available offers
                                   </h1>
                                   <p>Special PriceGet extra ₹1200 off (price inclusive of cashback/coupon)</p>
                                      
                                </div>
                                <div class="col-6 text-end">
                                    <div class="quantity-container">
                                        <button class="quantity-button" id="decrease">-</button>
                                        <input type="number" class="quantity-input" id="quantity" value="1" min="1">
                                        <button class="quantity-button" id="increase">+</button>
                                      </div>
                                      
                                </div>
                                <div class="col text-end">
                                    <button class="frutiger-button">
                                        <div class="inner">
                                          <div class="top-white"></div>
                                          <span class="text">Buy Now</span>
                                        </div>
                                      </button>
                                      
                                </div>
                            </div>
                                
                            </div>

                        </div>
                        

                       
                    <!-- </div>
                    <div class="col-sm-6 col-md-3 text-start">
                      
                    </div>
                </div>
            </div>

        </div> -->
    </section>
</body>